################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpeechCognitiveServices/obj
/SpeechCognitiveServices/bin
/.vs/SpeechCognitiveServices/v15
/SpeechCognitiveServices/Properties/PublishProfiles
/Bot/obj
/Bot/wwwroot
/Bot/bin/Debug/netcoreapp2.1
