<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpeechCognitiveServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SpeechCognitiveServices.Properties.Settings>
      <setting name="BotSecret" serializeAs="String">
        <value>IkdWcD031tU.N51Xrn2Dy_2x5B_NGe9H1Z8F4qvnk9iDz-MyPsRolsM</value>
      </setting>
      <setting name="AzureStorageConnectionString" serializeAs="String">
        <value>DefaultEndpointsProtocol=https;AccountName=uipathaudiofiles;AccountKey=M9Fe1DTCasyjH+iWQ62CMJ0SAVjp9BACAfQcY+XBpcYQb/7NxXz9rOtap2kBXff0AjflQsd4UJtWq50kstODzg==;EndpointSuffix=core.windows.net</value>
      </setting>
      <setting name="UiPathTenancyName" serializeAs="String">
        <value>pyramidlabs</value>
      </setting>
      <setting name="UiPathUserName" serializeAs="String">
        <value>m4rk3tm3sp4m@gmail.com</value>
      </setting>
      <setting name="UiPathPassword" serializeAs="String">
        <value>test123!@#</value>
      </setting>
      <setting name="BotAppId" serializeAs="String">
        <value>e81da16c-b538-4ca3-a431-8bb7f2c2a87c</value>
      </setting>
      <setting name="BotAppPassword" serializeAs="String">
        <value>xkhVRU940!;gknnMMWP95~=</value>
      </setting>
      <setting name="BotServiceUrl" serializeAs="String">
        <value>https://meetingminutesbotwithuipath.azurewebsites.net/api/messages</value>
      </setting>
      <setting name="UiPathMeetingMinutesJobKey" serializeAs="String">
        <value>ce883072-0afe-4d34-bf78-5cfe76c93932</value>
      </setting>
      <setting name="SpeechServiceSubscriptionKey" serializeAs="String">
        <value>fe20e90e87a445b6a991f8a4d2a19126</value>
      </setting>
      <setting name="TextAnalyticsSubscriptionKey" serializeAs="String">
        <value>71fb6faa89be4cbdbcc504e059f99e72</value>
      </setting>
      <setting name="SpeakerRecognitionSubscriptionKey" serializeAs="String">
        <value>11ae670d1da74fd9be1268b68284b2fc</value>
      </setting>
      <setting name="EmailBody" serializeAs="String">
        <value>Please see attached file for your meeting minutes.</value>
      </setting>
      <setting name="EmailToSend" serializeAs="String">
        <value>lluis@psi-it.com</value>
      </setting>
    </SpeechCognitiveServices.Properties.Settings>
  </userSettings>
</configuration>